<a href="https://colab.research.google.com/github/itzelduranv/Optativa7Semestre/blob/main/BD_Netflix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install pandas matplotlib seaborn plotly
#!pip install --upgrade pandas seaborn

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [3]:
df = pd.read_csv('https://github.com/itzelduranv/Optativa7Semestre/raw/refs/heads/main/NetFlix.csv', sep=',')

In [14]:
df.dtypes

show_id                   object
type                      object
title                     object
director                  object
cast                      object
country                   object
date_added        datetime64[ns]
release_year               int64
rating                    object
duration                   int64
genres                    object
description               object
rating_numeric           float64
dtype: object

## Conversion de Variables

Para la fecha

In [5]:
print(df['date_added'].head())

0    14-Aug-20
1    15-Dec-17
2     5-Jan-19
3     1-Mar-16
4     3-Dec-18
Name: date_added, dtype: object

In [6]:
try:
    df['date_added'] = pd.to_datetime(df['date_added'])
except ValueError:
    df['date_added'] = pd.to_datetime(df['date_added'], format='%B %d, %Y', errors='coerce')

<ipython-input-6-a546218f1427>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date_added'] = pd.to_datetime(df['date_added'])

In [8]:
print(df['date_added'].dtype)

datetime64[ns]

In [9]:
print(df['date_added'].head())

print(df['date_added'].isna().sum())

0   2020-08-14
1   2017-12-15
2   2019-01-05
3   2016-03-01
4   2018-12-03
Name: date_added, dtype: datetime64[ns]
10

Para rating

In [10]:
#Definir un diccionario de mapeo de ratings
rating_map = {
    'G': 1,
    'PG': 2,
    'PG-13': 3,
    'R': 4,
    'NC-17': 5,
    'TV-Y': 1,
    'TV-Y7': 2,
    'TV-G': 1,
    'TV-PG': 2,
    'TV-14': 3,
    'TV-MA': 4
}

In [11]:
#Crear una nueva columna con los valores convertidos
df['rating_numeric'] = df['rating'].map(rating_map)

In [12]:
#Mostrar las primeras filas para verificar la conversion
print(df[['rating', 'rating_numeric']].head())

#Obtener estadisticas basicas de la nueva columna
print(df['rating_numeric'].describe())

  rating  rating_numeric
0  TV-MA             4.0
1  TV-MA             4.0
2  TV-PG             2.0
3      R             4.0
4   TV-G             1.0
count    7685.000000
mean        3.154066
std         0.936116
min         1.000000
25%         3.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: rating_numeric, dtype: float64

In [13]:
df.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,description,rating_numeric
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2020-08-14,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,4.0
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,2017-12-15,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...,4.0

## Estadistica descriptiva para variable numericas

In [16]:
numeric_colums = ['release_year', 'rating_numeric', 'duration']
print('Estadisticas descriptivas para variables numericas')

print(df[numeric_colums].describe())

Estadisticas descriptivas para variables numericas
       release_year  rating_numeric     duration
count   7787.000000     7685.000000  7787.000000
mean    2013.932580        3.154066    69.122769
std        8.757395        0.936116    50.950743
min     1925.000000        1.000000     1.000000
25%     2013.000000        3.000000     2.000000
50%     2017.000000        3.000000    88.000000
75%     2018.000000        4.000000   106.000000
max     2021.000000        5.000000   312.000000