<a href="https://colab.research.google.com/github/itzelduranv/Optativa7Semestre/blob/main/Serie_DF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ejercicio 1**

In [1]:
import pandas as pd
import numpy as np

### Crear una serie

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print("Serie: ")
print(s)

Serie:
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64